In [1]:
print('Hello World')

Hello World

## variable

In [4]:
salam = 'Selamat Siang'
print(salam)

Selamat Siang

In [3]:
salam_ = 'Halo!'
print(salam_)

Halo!

In [5]:
print('Budi', 123, '.')
print('Budi', 123, '.', sep='')
print('Budi', 123, '.', sep='-')

Budi 123 .
Budi123.
Budi-123-.

In [6]:
print('Halo selamat pagi!', end='#')
print('Saya ingin menjadi AI Profesional!')

Halo selamat pagi!#Saya ingin menjadi AI Profesional!

In [7]:
# ini untuk sapaan
menyapa = 'Halo!'
print(menyapa)

Halo!

## tipe data

In [8]:
integer = 100
print(integer)

100

In [9]:
float = 3.6
print(float)

3.6

In [10]:
comp = 1+3j
print(comp)

(1+3j)

In [11]:
print(type(integer))
print(type(float))
print(type(comp))

<class 'int'>
<class 'float'>
<class 'complex'>

In [12]:
string = "Indonesia"
print(string)
print(type(string))

Indonesia
<class 'str'>

In [13]:
boolean = True
print(boolean)
print(type(boolean))

True
<class 'bool'>

In [14]:
num = 0
print(bool(num))
num = 1
print(bool(num))

False
True

## operasi dasar

In [15]:
num_satu = 20
num_dua = 30
number = num_satu + num_dua
print(number)

50

In [16]:
num_satu = '20'
num_dua = '30'
number = num_satu + num_dua
print(number)

2030

In [19]:
x = 20
y = 19
pengurangan = x - y
print(pengurangan)

1

In [18]:
x = 19
y = 18
kali = x * y
print(kali)

342

In [20]:
x_satu = 'satu'
print(x_satu * 5)

satusatusatusatusatu

In [21]:
x =  15
y = 2
hasil = x / y
print(hasil)

7.5

In [22]:
x =  15
y = 2
hasil = x // y
print(hasil)

7

In [23]:
x =  16
y = 3
modulus = x % y
print(modulus)

1

In [24]:
x = 2
y = 3
pangkat = x ** y 
print(pangkat)

8

## operator penugasan dan short-hand operator

In [25]:
x = 'Halo'
print(x)

Halo

In [26]:
x = 4
x += 5
print(x)

9

In [27]:
x = 5
x -= 4
print(x)

1

In [28]:
x = 15
x /= 2
print(x)

7.5

In [29]:
x = 15
x *= 99
print(x)

1485

## operator perbandingan

In [30]:
x = 4
y = 7
hasil = x > y
print(hasil)
hasil = x < y
print(hasil)
hasil = x == y
print(hasil)

False
True
False